---
import Base from "../layouts/Base.astro";
---

<Base title="Saltire the Gays" emoji="🏴󠁧󠁢󠁳󠁣󠁴󠁿">
  <script>
    import "../custom-elements/flag.ts";
  </script>
  <h1 style="text-align: center;">Saltire the Gays 🏴󠁧󠁢󠁳󠁣󠁴󠁿</h1>
  <saltire-the-gays></saltire-the-gays>
  <style slot="head" is:inline>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    saltire-the-gays {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & label {
        background-color: var(--accent);
        width: fit-content;
        padding-inline: 20px;
        padding-block: 10px;
        margin: 10px;
      }
    }
  </style>
</Base>
